<!DOCTYPE html>
<html>
<head>
    <!-- ==========================
    	Meta Tags 
    =========================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ==========================
    	Title 
    =========================== -->
    <title>Smart Home</title>
    <link rel="shortcut icon" href="/img/icontitle.ico" />

    <!-- ==========================
    	Fonts 
    =========================== -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- ==========================
    	CSS 
    =========================== -->
    <link rel="stylesheet" type="text/css" href="/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
<body>

    <!-- ==========================
        Preloader
    =========================== -->
    {{!-- <div id='preloader'>
        <div class="loader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div> --}}
	<!-- ==========================
    	HEADER - START 
    =========================== -->
	<header>
	<!-- ==========================
    	Nav-bar - START 
    =========================== -->
    	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    		<div class="container">
    		<!-- Brand and toggle get grouped for better mobile display -->
    			<div class="navbar-header">
    				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavigation"><i class="fa fa-bars"></i></button>
                    {{#if username}}
                    <i class="fa fa-user fa-3x navbar-logo pull-left"></i>
                    <a href='/'class="navbar-brand">{{{username}}}</a>
                    {{else}}
                    <img src="img/icon.png" class="navbar-logo pull-left" alt="" />
                    <a href='/' class="navbar-brand">Smart Home WiFi</a>
                    {{/if}}
                </div>  {{!-- /navbar-header --}}
            <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="myNavigation">
                    <ul class="nav navbar-nav navbar-right">
                    {{#if username}}
                        <li><a href='/'>Home</a></li>
                        <li class='active'><a href='/choose_map'>Map</a></li>
                        <li class='logout'><a href='/logout'>Logout</a></li>
                    {{else}}
                        <li><a href='#'id="botton_login">Login</a></li>
                    {{/if}}
                    </ul>
                </div>	{{!-- /navbar collpase --}}
    		</div>	{{!-- /container --}}
    	</nav>	{{!-- /nav-bar --}}


	</header>	{{!-- /header --}}


	<!-- ==========================
    	Section Choose Your Map
    =========================== -->
    <section id='choose-map' class='content'>
    	<div class='container'>
    		<div class='row'>	{{!-- /Header Name --}}
    			<h3>Your Map<h3> 
    		</div>
    		{{#each map}}
				<form action="/map" method="post" id='{{this.name}}'>
                <input type='hidden'name='map' value="{{this.name}}">
				{{!-- <input type='hidden'name='newmap' value="False"> --}}
		    		<div class='row'>	{{!-- /Block Map --}}
		    			<div class='block'onclick="document.forms['{{this.name}}'].submit()">
		    				<p>{{this.name}}</p>
		    			</div>
		    		</div>
		   		</form>
		   	{{/each}}
                <div class='row'> 
                    <div class='block-addmap' id='addmap'>
                        <p>new map</p>
                    </div>
                </div>
    	</div>	{{!-- /container --}}
    </section> {{!-- /content --}}


    <!-- ==========================
        
    =========================== -->
    {{!-- Control --}}
    <div class="modal fade" id="modal-newmap" role="dialog">
        <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <div class="modal-title">Add new Map</div>
                </div>  {{!-- /modal-header --}}
                <div class="modal-body">
                    <div class='head'>Name Map</div>
                    <div>
                        <input name="name"type="text" class="form-control" id="name-map" value="" placeholder="name map">
                    </div>
                    <div class='head'>Choose Image</div>
                    <div>
                        <input type='file' class='filestyle' data-buttonBefore="true" name="uploads[]" id='file-upload'>
                    </div>
                </div>  
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id='submit-add-map'>Submit</button>
            </div>

            </div>    {{!-- /modal-content --}}
        </div>  
    </div>  {{!-- /modal --}}


    <!-- ==========================
    	JS 
    =========================== --> 
    <script src="/lib/js/jquery-3.1.1.min.js"></script>
    <script src="/lib/js/bootstrap.min.js"></script>
    <script src="/lib/js/bootstrap-filestyle.min.js"></script>
    <script src="/js/design/custom.js"></script>

    {{!-- preloading --}}

    <script type="text/javascript">
        // $("#preloader").fadeOut("slow");
        // $('#modal-newmap').modal('show');
        $(":file").filestyle({buttonBefore: true,placeholder: "only jpg"});
        // button submit
        $('#submit-add-map').on('click',function(){
            var file = $('#file-upload').get(0).files[0];
            var formData = new FormData();
            if(file.size < 1){
            } else if(file.type != 'image/jpg'&& file.type != 'image/jpeg' ){
                alert("The file does not match jpg");
            } else {
                var name_map = $('#name-map').val();
                if( file.type == 'image/jpg' || file.type == 'image/jpeg'){
                    name_map = name_map + '.jpg';
                }
                if (file.type == 'image/png'){
                    name_map = name_map + '.png';
                }
                formData.append('uploads[]',file,name_map);
                // formData.append('uploads[]',file,file.name);
                console.log(formData);
                $.ajax({
                    url: '/savemap',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(data){
                        console.log('upload successful!');
                        window.location.href = '/map';
                    }
                });
            }
        });
    </script>
    
</body>
</html>